extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.aboutimg
            img(src="/images/About-Text.png" class='homelayover')
    .container
        .row
            .col-md-10.fullpage
                h1 ABOUT       
                <br/>    
                .text Nilogen Oncosystems, a CLIA-certified laboratory, is dedicated to the improvement of cancer drug development and treatment options for pharmaceutical and biotechnology companies. Nilogen’s proprietary drug testing platforms utilize fresh patient tumor tissue with intact tumor immune microenvironment to accurately assess the therapeutic potential of drug treatments, including immunotherapies. Our goal is to help pharmaceutical and biotechnology companies to develop the most effective drugs and rational drug combinations, and to identify companion diagnostics.
                .techwrap
                   
                    .subheader Advantage
                    .subheadertext Through the use of fresh patient tumors, Nilogen is uniquely positioned to assess the clinical efficacy of oncology and immune-oncology drugs.
                
                    