extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.aboutimg
            img(src="/images/About-Text.png" class='homelayover')
    .container
        .row
            .col-md-10.fullpage
                h1 ABOUT       
                <br/>    
                .text Launched in 2013, Nilogen Oncosystems, a CLIA-certified laboratory, is dedicated to the improvement of cancer drug development and treatment options for pharmaceutical and biotechnology companies. Nilogen developed proprietary drug testing platforms that utilize fresh patient tumor tissue with intact tumor immune microenvironment to accurately assess the therapeutic potential of drug treatments, including immunotherapies. We help pharmaceutical and biotechnology companies to develop the most effective drugs and rational drug combinations, to identify companion diagnostics with the goal of reducing the cost and risk of failure in clinical trials.
                .techwrap
                    .subheader Mission 
                    .subheadertext Provide customized integrated solutions in cancer and immuno-oncology drug development.
                    <br/>
                    .subheader Advantage
                    .subheadertext By using fresh patient tumor in its in-tact microenvironment, we are uniquely positioned
                                   |to assess cancer drug responses and the interactions of its different components.
                                   |Utilizing state-of- the-art, three-dimensional (3D) drug screening tools and xenograft
                                   |mouse avatar models with humanized cancer immune systems, we have the
                                   |unprecedented ability to understand the inimitable characteristics of cancer tumors to
                                   |quickly, economically and accurately test tumor cell sensitivity to various drug
                                   |treatments.
                .subheader Recent Accomplishments
                <br/>
                .dashwrap 
                    .dash.lightblue /
                    .smallcheck Co-presented posters at the AACR and ASCO meetings in 2015 with one of its clients,
                                 |summarizing data obtained for this client using Nilogen’s proprietary assay systems.    
                   
                .dashwrap 
                    .dash.lightblue /
                    .smallcheck Signed additional contracts to expand contract research volume and revenue.
                .dashwrap      
                    .dash.lightblue /
                    .smallcheck Obtained a CLIA certification. 
                   
                .dashwrap 
                    .dash.lightblue /
                    .smallcheck In discussions with a large, privately held oncology practice to conduct a clinical
                                    |outcome trial with Nilogen’s ex vivo system in lung cancer patients undergoing cancer
                                    |immunotherapy.
                   
                    