extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.aboutimg
    .container
        .row
            .col-md-10.fullpage
                h1 ABOUT           
                .text Launched in 2013, Nilogen Oncosystems, a Clinical Laboratory Improvement Amendments (CLIA)-certified laboratory, is dedicated to the       |improvement of cancer drug development and
                      |treatment options for pharmaceutical and biotechnology companies.
                .techwrap
                    .subheader Mission 
                    .subheadertext Providing tailored and tested oncology solutions for drug development and treatment options.
                    <br/>
                    .subheader Advantage
                    .subheadertext By using fresh patient tumor in its in-tact microenvironment, we are uniquely positioned
                                   |to understand cancer drug response and the interaction of its different components.
                                   |Utilizing state-of- the-art, three-dimensional (3D) drug screening tools and xenograft
                                   |mouse avatar models with humanized cancer immune systems, we have the
                                   |unprecedented ability to understand the inimitable characteristics of cancer tumors to
                                   |quickly, economically and accurately test tumor cell sensitivity to various drug
                                   |treatments.
                .subheader Recent Accomplishments
                <br/>
                .dashwrap 
                    .dash.lightblue /
                    .smallcheck Co-presented posters at the AACR and ASCO meetings in 2015 with one of its clients,
                                 |summarizing data obtained for this client using Nilogen’s proprietary assay systems.    
                   
                .dashwrap 
                    .dash.lightblue /
                    .smallcheck Signed additional contracts to expand contract research volume and revenue.
                .dashwrap      
                    .dash.lightblue /
                    .smallcheck Obtained a CLIA certification. 
                   
                .dashwrap 
                    .dash.lightblue /
                    .smallcheck In discussions with a large, privately held oncology practice to conduct a clinical
                                    |outcome trial with Nilogen’s ex vivo system in lung cancer patients undergoing cancer
                                    |immunotherapy.
                   
                    