extends layout

block content
    .container(ng-controller="ContactController")
        .row
            .col-md-10.fullpage
                h1 CONTACT   
                <br/>  
                .row       
                    .col-md-4
                        .subheader Address
                        .text <strong>Nilogen Oncosystems</strong>
                        .text 3802 Spectrum Blvd., Suite 142E
                        .text Tampa, FL 33612
                        .subheader.topmargin Phone
                        .text 
                            a(href="tel:+18133991888" style="color: black;") (813) 440-3588
                        .subheader.topmargin Inquiries
                        .text 
                            a(href='mailto:info@nilogen.com' style="color: black;") info@nilogen.com
                        .text 
                        <br/>
                    .col-md-8
                        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3520.966073840411!2d-82.41736988493025!3d28.05606048264888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2c7ba1a6d123d%3A0x1b1dda2563fa32c4!2s3802+Spectrum+Blvd%2C+Tampa%2C+33612!5e0!3m2!1sen!2sus!4v1463164844529" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen>)
                .row
                    .col-md-4
                         .subheader Get in Touch
                         form.form-horizontal
                            .form-group(ng-class="{'has-error': nameinvalid}")
                                label.control-label(for='inputPassword3') Name (Required)
                                .col-sm-10
                                input#inputName.form-control(type='text', placeholder='Name' ng-model='contactform.name')
                            .form-group(ng-class="{'has-error': emailinvalid}")
                                label.control-label(for='inputEmail3') Email (Required)
                                .col-sm-10
                                input#inputEmail.form-control(type='email', placeholder='Email' ng-model='contactform.email')
                             .form-group
                                label.control-label(for='inputPassword3') Phone (Optional)
                                .col-sm-10
                                input#inputPhone.form-control(type='text', placeholder='Phone' ng-model='contactform.phone')
                         
                            
                .row
                     .form-group(style="margin-left: 15px;")
                                label.control-label(for='inputPassword3') Your Comments
                                .col-sm-10
                                textarea#inputComments.form-control(type='text', placeholder='Name' rows='6' ng-model='contactform.comments')         
                                
                     .form-group(style="margin-left: 15px;")                              
                                div(vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()")
                     .form-group(style="margin-left: 15px;")
                                .col-sm-offset-2.col-sm-10
                                button.btn.btn-default(type='submit' ng-click="contactClicked()" ng-disabled="disabledsubmit") SUBMIT
     #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Confirm
                .modal-body
                    | Your Comments have been sent to Nilogen.
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close                                                      
    
        