extends layout

block content
    .container
        .row
            .col-md-10.fullpage
                h1 FAQ       
                <br/>    
              
                .techwrap
                    .subheader How can I test the immunomodulatory efficacy of my drug on the tumor microenvironment? 
                    .subheadertext Utilizing our integrated immuno-oncology platforms Nilogen can provide a comprehensive analysis of drug effects on the tumor microenvironment including but not limited to drug-mediated changes in T-cell activation, macrophage polarization, dendritic cell maturation and tumor cell viability.  Contact us for further tumor microenvironment analyses available. 
                    <br/>
                    .subheader Does my drug affect tumor-infiltrating lymphocyte subpopulations and the expression of immune checkpoint proteins?
                    .subheadertext Utilization of flow cytometric and gene expression profiling analyses allows the determination of drug-mediated changes on tumor-infiltrating lymphocyte subpopulations and expression of immune checkpoint proteins in our ex vivo and in vitro platforms.
                    <br/>
                    .subheader Can I use your platform to develop predictive biomarkers of drug response?  
                    .subheadertext In our CLIA-certified lab, Nilogen offers correlative studies between ex vivo drug responses and multiple aspects of the tumor microenvironment to develop companion diagnostics that can be translated to clinical trials and patient care. 
                    <br/>
                    .subheader Can I test if the combination with other immuno-oncology drug(s) enhances the immunostimulatory activity of my drug? 
                    .subheadertext Yes. Using our versatile platforms Nilogen can help drug makers to develop and test rational combination treatments at single or multiple drug concentrations.
                    <br/>
                    .subheader Are Nilogen’s platforms suitable for testing the efficacy of antibody-based immune checkpoint inhibitors?  
                    .subheadertext Yes. Nilogen’s platforms are optimized for testing the immunomodulatory effects of both antibody-based and small molecular inhibitors. 
                    <br/>
                    .subheader Can you perform ex vivo co-culture experiments with 3D tumor spheroids and matching peripheral blood mononuclear cells obtained from the same patient? 
                    .subheadertext Yes, we can collect tumor and matching blood samples from the same patients to carry out ex vivo co-culture experiments.
                    <br/>
                    .subheader I have a small molecule inhibitor. Can I test its pharmacodynamic activity?  
                    .subheadertext Yes. We can utilize multiplex signaling pathway assessment to identify the most effective drug concentrations inhibiting the activity of target molecules within the immune and tumor cells.  
                    <br/>
                    .subheader Can I test the efficacy of my drug on the immunosuppressive effect of cancer-associated fibroblasts? 
                    .subheadertext Yes. At Nilogen we utilize a comprehensive approach to analyze drug effects on all components of the tumor microenvironment including cancer-associated fibroblasts.
                    <br/>
                    .subheader Can I test the effect of my drug on tumor cell viability as well? 
                    .subheadertext Yes. Nilogen’s platforms offer the capability of tumor cell viability testing.
                    <br/>
                    .subheader Can I create a PDX mouse model and autologous TIL, CAF and tumor cell lines from the tumor that was used for the ex vivo assays? 
                    .subheadertext Yes. Nilogen’s PDX models can be implanted at the time of tumor collection in parallel with the propagation of autologous TIL, CAF and tumor cell lines for in vivo drug testing and adoptive cell therapy.
                    <br/>
                    .subheader How do you obtain your fresh tumor samples? 
                    .subheadertext All fresh tumor samples are collected in a sterile manner from prominent medical centers in the USA according to an IRB-approved tissue procurement protocol.
                    <br/>
                    .subheader Can Nilogen's patient derived platforms be used to develop and optimize genetically modified T-cells in solid tumors?  
                    .subheadertext Yes, using matching PBMC and tumor components including cell lines and PDX models from the same patients provides a unique opportunity for developing genetically engineered T-cells in cancer therapy.
                    <br/>
                    .subheader What type of tumor tissue are you using in your experiments? 
                    .subheadertext We utilize many different tumor types in our drug and biomarker studies. However, for immuno-oncology experiments the most commonly sought immunogenic cancer types are non-small cell lung cancer, bladder cancer and kidney cancer.
                    <br/>