extends layout

block content
    .container
        .row
            .col-md-10.fullpage
                h1 FAQ       
                <br/>    
                .faqwrap
                    ol(id="olQuestions")
                        li 
                            a(href="/faq#q1") How can I test the immunomodulatory efficacy of my drug on the tumor microenvironment?
                        li 
                            a(href="/faq#q2") Does my drug affect tumor-infiltrating lymphocyte subpopulations and the expression of immune checkpoint proteins?
                        li 
                            a(href="/faq#q3") Can I use your platform to develop predictive biomarkers of drug response?
                        li 
                            a(href="/faq#q4") Can I test if the combination with other immuno-oncology drug(s) enhances the immunostimulatory activity of my drug?
                        li 
                            a(href="/faq#q5") Are Nilogen’s platforms suitable for testing the efficacy of antibody-based immune checkpoint inhibitors? 
                        li 
                            a(href="/faq#q6") Can you perform <i>ex vivo</i> co-culture experiments with 3D tumor spheroids and matching peripheral blood mononuclear cells obtained from the same patient?
                        li 
                            a(href="/faq#q7") I have a small molecule inhibitor. Can I test its pharmacodynamic activity? 
                        li 
                            a(href="/faq#q8") Can I test the efficacy of my drug on the immunosuppressive effect of cancer-associated fibroblasts?
                        li 
                            a(href="/faq#q9") Can I test the effect of my drug on tumor cell viability as well?
                        li 
                            a(href="/faq#q10") Can I create a PDX mouse model and autologous TIL, CAF and tumor cell lines from the tumor that was used for the <i>ex vivo</i> assays?
                        li 
                            a(href="/faq#q11") How do you obtain your fresh tumor samples?
                        li 
                            a(href="/faq#q12") Can Nilogen's patient derived platforms be used to develop and optimize genetically modified T-cells in solid tumors? 
                        li 
                            a(href="/faq#q13") What type of tumor tissue are you using in your experiments?
                        li 
                            a(href="/faq#q14") Can Nilogen help me with the design of the project and the interpretation of the data? 
                <br/>
                <br/>  
                .faqwrap
                    ol(id="olAnswers")
                        li
                            .subheader 
                                a(name="q1") How can I test the immunomodulatory efficacy of my drug on the tumor microenvironment? 
                            .subheadertext Utilizing our integrated immuno-oncology platforms, Nilogen can provide a comprehensive analysis of drug effects on the tumor microenvironment including but not limited to drug-mediated changes in T-cell activation, macrophage polarization, dendritic cell maturation and tumor cell viability.  Contact us for further tumor microenvironment analyses available. 
                           
                        li
                            .subheader 
                                 a(name="q2") Does my drug affect tumor-infiltrating lymphocyte subpopulations and the expression of immune checkpoint proteins?
                            .subheadertext Utilization of comprehensive flow cytometric and gene expression profiling analyses allows the determination of drug-mediated changes on tumor-infiltrating lymphocyte subpopulations and expression of immune checkpoint proteins in our <i>ex vivo</i> and <i>in vitro</i> platforms.
                          
                        li
                            .subheader 
                                 a(name="q3") Can I use your platform to develop predictive biomarkers of drug response? 
                            .subheadertext In our CLIA-certified lab, Nilogen offers correlative studies between <i>ex vivo</i> drug responses and multiple aspects of the tumor microenvironment to develop companion diagnostics that can be applied to clinical trials and patient care. 
                          
                        li
                            .subheader 
                                 a(name="q4") Can I test if the combination with other immuno-oncology drug(s) enhances the immunostimulatory activity of my drug?
                            .subheadertext Yes. Using our versatile platforms, Nilogen can help drug makers to develop and test rational combination treatments at single or multiple drug concentrations.
                         
                        li
                            .subheader 
                                 a(name="q5") Are Nilogen’s platforms suitable for testing the efficacy of antibody-based immune checkpoint inhibitors? 
                            .subheadertext Yes. Nilogen’s platforms are optimized for testing the immunomodulatory effects of both antibody-based and small molecular inhibitors.
                            
                        li
                            .subheader 
                                a(name="q6") Can you perform <i>ex vivo</i> co-culture experiments with 3D tumor spheroids and matching peripheral blood mononuclear cells obtained from the same patient?
                            .subheadertext Yes. We can collect tumor and matching blood samples from the same patients to carry out <i>ex vivo</i> co-culture experiments.
                           
                        li
                            .subheader 
                                a(name="q7") I have a small molecule inhibitor. Can I test its pharmacodynamic activity? 
                            .subheadertext Yes. We can utilize multiplex signaling pathway assessment to identify the most effective drug concentrations inhibiting the activity of target molecules within the immune and tumor cells. 
                            
                        li
                            .subheader 
                                a(name="q8") Can I test the efficacy of my drug on the immunosuppressive effect of cancer-associated fibroblasts?
                            .subheadertext Yes. At Nilogen, we utilize a comprehensive approach to analyze drug effects on all components of the tumor microenvironment including cancer-associated fibroblasts.
                            
                        li
                            .subheader 
                                a(name="q9") Can I test the effect of my drug on tumor cell viability as well?
                            .subheadertext Yes. Nilogen’s platforms offer the capability of tumor cell viability testing.
                           
                        li
                            .subheader 
                                a(name="q10") Can I create a PDX mouse model and autologous TIL, CAF and tumor cell lines from the tumor that was used for the <i>ex vivo</i> assays?
                            .subheadertext Yes. Nilogen’s PDX models can be implanted at the time of tumor collection in parallel with the propagation of autologous TIL, CAF and tumor cell lines for <i>in vivo</i> drug testing and adoptive cell therapy.
                          
                        li
                            .subheader 
                                a(name="q11") How do you obtain your fresh tumor samples?
                            .subheadertext All fresh tumor samples are collected in a sterile manner from prominent medical centers in the USA according to an IRB-approved tissue procurement protocol. 
                           
                        li
                            .subheader 
                                a(name="q12") Can Nilogen's patient derived platforms be used to develop and optimize genetically modified T-cells in solid tumors? 
                            .subheadertext Yes. Using matching PBMC and tumor components, including cell lines and PDX models from the same patients provides a unique opportunity for developing and optimizing T-cell therapies.
                          
                        li
                            .subheader 
                                a(name="q13") What type of tumor tissue are you using in your experiments?
                            .subheadertext We utilize many different tumor types in our drug and biomarker studies. However, for immuno-oncology experiments the most commonly sought immunogenic cancer types are non-small cell lung cancer, bladder cancer and kidney cancer.
                            
                        li
                            .subheader 
                                a(name="q14") Can Nilogen help me with the design of the project and the interpretation of the data? 
                            .subheadertext Yes. At Nilogen, each project is assigned to an expert Ph.D. scientist who will assist with every step of the project, from the design and execution of the study to the preparation of the final report, including interpretation of the data.
                                
