extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.homeimg
            img(src="/images/Home-Text.png" class='homelayover')
    .container
        .row
            
            .col-md-8
              .boxoutercontent
                    img(src='/images/Lines-3.png' class="line2")
                    h1 NILOGEN ONCOSYSTEMS
                    <br/>
                    .boxcontent <Strong>Nilogen Oncosystems</strong>  is dedicated to streamlining and improving cancer drug development. At Nilogen we appreciate the complexity of cancer and use fresh patient tumor samples with intact tumor immune microenvironment in all our preclinical drug testing platforms. This allows us to see the whole picture for a better understanding of the molecular mechanisms of drug sensitivity and resistance.
                                <br /> <br />
                                | These proprietary and groundbreaking platforms allow pharmaceutical and biotechnology testing and development companies to <strong>significantly reduce the cost and risk associated with clinical trials.</strong> through our innovative system. As the <strong>only company</strong> on the market utilizing <strong>fresh tumor tissue</strong> samples, we can quickly and more accurately test a tumor’s sensitivity to drug treatments. Nilogen’s commitment to testing and customizing cancer drug developments is proven and yields unparalleled results for its clients.
                                <br /><br />
                                img(src='/images/Lines-4.png' class="leftline")
                                a(href="/services") 
                                    .btn SERVICES
                                a(href="/tech")    
                                    .btn TECHNOLOGY
                                 
              
            .col-md-4 
                .quotewrapper
                    img(src='/images/Lines-2.png' class="line3")
                    .quotebox Nilogen reduces the cost and risk of clinical trials with its innovative drug testing platforms.
                    
                    
 