extends layout

block content
    .container-fluid(style="background: #ddf4fc; padding-left:0px; padding-right: 0px;")
        
            .homenew.imgdiv
                .homewrap
                    .col(style="float: left; text-align: right;")
                        img(id="imgText" src="/images/hometext.png")
                    .col(style="float: right;")
                        img(id="imgBall" src="/images/homepageball600.png")
                
                   
                
    //.container-fluid(style="padding-left:0px; padding-right: 0px;")
        //.imgdiv.homeimg
            //img(src="/images/Home-Page-Separated-Text.png" class='homelayover')
    .container
        .row
            
            .col-md-8
              .boxoutercontent
                    img(src='/images/Lines-3.png' class="line2")
                    h1 NILOGEN ONCOSYSTEMS
                    <br/>
                    .boxcontent Nilogen Oncosystems is dedicated to streamlining and improving cancer drug development. At Nilogen, we appreciate the complexity of cancer and use fresh patient tumor samples with intact tumor immune microenvironment in our preclinical drug testing platforms. This allows us to see the whole picture for a better understanding of the molecular mechanisms of drug sensitivity and resistance. 
                                <br /> <br />
                                | These proprietary and innovative platforms aim to significantly reduce the cost and risk associated with clinical trials. Nilogen’s commitment to testing and customizing cancer drug developments is proven and yields unparalleled results for its clients.
                                <br /><br />
                                img(src='/images/Lines-4.png' class="leftline")
                                a(href="/tech") 
                                    .btn TECHNOLOGY & SERVICES
                                a(href="/team")    
                                    .btn MEET THE TEAM
                                 
              
            .col-md-4 
                .quotewrapper
                    img(src='/images/Lines-2.png' class="line3")
                    .quotebox Nilogen’s innovative platforms aim to reduce the cost and risk associated with clinical trials. 
                    
                    
 