extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.homeimg
    .container
        .row
            
            .col-md-8
              .boxoutercontent
                    img(src='/images/Lines-3.png' class="line2")
                    h1 WELCOME TO <br /> NILOGEN ONCOSYSTEMS
                    <br/>
                    .boxcontent <Strong>Nilogen Oncosystems</strong>  is dedicated to streamlining and improving cancer drug development. Using its revolutionary drug testing platforms that utilize real patient tumor tissue, Nilogen is able to best assess the therapeutic potential of drug treatments and immunotherapies.
                                <br /> <br />
                                | These proprietary and groundbreaking platforms allow pharmaceutical and biotechnology testing and development companies to <strong>significantly reduce the cost and risk of expensive clinical trials</strong> through our innovative system. As the <strong>only company</strong> on the market utilizing <strong>fresh tumor tissue</strong> samples, we can quickly and more accurately test a tumor’s sensitivity to drug treatments. Nilogen’s commitment to testing and customizing cancer drug developments is proven and yields unparalleled results for its clients.
                                <br /><br />
                                img(src='/images/Lines-4.png' class="leftline")
                                a(href="/services") 
                                    .btn SERVICES
                                a(href="/tech")    
                                    .btn TECHNOLOGY

          
              
            .col-md-4 
                .quotewrapper
                    img(src='/images/Lines-2.png' class="line3")
                    .quotebox Nilogen reduces the cost and risk of clinical trials with its groundbreaking drug testing platforms.
                    
                    
 