doctype html
html
  head
    title= title
    base(href="/")
    link(rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
    link(rel='stylesheet', href='libs/animate.css/animate.min.css')
    script(src='https://code.jquery.com/jquery-2.2.3.min.js' type='text/javascript' integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' type='text/javascript')
    script(src='libs/angular/angular.min.js' type='text/javascript')
    script(src='libs/angular-route/angular-route.min.js' type='text/javascript')
    
    script(src="javascripts/controllers/MainCtrl.js" type='text/javascript')
    script(src="javascripts/controllers/NerdCtrl.js" type='text/javascript')
    script(src="javascripts/controllers/ContactCtrl.js" type='text/javascript')
    script(src='javascripts/appRoutes.js' type='text/javascript')
    script(src='javascripts/app.js' type='text/javascript')
    meta(name='description' content='Nilogen Oncosystems is dedicated to streamlining and improving cancer drug development using its revolutionary 3D ex vivo, ex vivo and in vivo drug testing platforms that use real patient tumor tissue and expertise to best assess the therapeutic potential of drug treatments and immunotherapies. Nilogen reduces the cost and risk of clinical trials with its groundbreaking 3D ex vivo platform.')
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app="sampleApp" ng-controller="MainController")
    .container       
        .row
            .headerimages               
              img(src='/images/Lines-1.png' class='line')
              img(src='/images/Lines-2.png' class='line')
               
        .row.menurow
            .col-md-3 
                .divLogo
                    a(href="/")
                        img(src='/images/logo300.png' class='logoimg')
                .mobileMenu
                        a(href="" ng-click="doMenu()")
                           i(id="mobilebutton" class="fa fa-bars" aria-hiiden="true")
                      
                        
            .col-md-8
                .divmenuwrap                   
                    ul(class='ulmenu')         
                       li
                           a(href="/about") ABOUT            
                       li
                           a(href="/team") MEET THE TEAM
                       li 
                           a(href="/tech") TECHNOLOGY
                       li 
                           a(href="/services") SERVICES                                                              
                       li 
                           a(href="/news") NEWS                     
                       li 
                           a(href="/contact") CONTACT
                       li
                           a() 
                               i(class="fa fa-facebook" aria-hidden="true")
                       li
                           a() 
                               i(class="fa fa-twitter" aria-hidden="true")
                    img(src='/images/Lines-2.png' class='menuline')
       .row.menumobilerow
              .mobileDropMenu
                            ul(class="mobileList")
                                li
                                    a(href="/" ng-click="menuClicked()") HOME
                                li 
                                    a(href="/about" ng-click="menuClicked()") ABOUT                                                                                           
                                li 
                                    a(href="/team" ng-click="menuClicked()") MEET THE TEAM                                
                                li 
                                    a(href="/tech" ng-click="menuClicked()") TECHNOLOGY
                                li                                                           
                                    a(href="/services" ng-click="menuClicked()") SERVICES                                
                                li 
                                    a(href="/news" ng-click="menuClicked()") NEWS                                                             
                                li 
                                    a(href="/contact" ng-click="menuClicked()") CONTACT
                                li
                                    a() 
                                        i(class="fa fa-facebook" aria-hidden="true")
                                li
                                    a() 
                                        i(class="fa fa-twitter" aria-hidden="true")
    div(ng-view)
        block content
    .container-fluid.footer 
        .container 
            .row
                .col-md-3 
                    h2 SITEMAP
                    ul
                        li 
                            a(href="/" ng-click="menuClicked()") Home
                        li 
                            a(href="/about" ng-click="menuClicked()") About Us
                        li 
                            a(href="/team" ng-click="menuClicked()") Team
                        li
                            a(href="/tech" ng-click="menuClicked()") Technology
                        li 
                            a(href="/services" ng-click="menuClicked()") Services                     
                        li 
                            a(href="/news" ng-click="menuClicked()") News
                        li 
                            a(href="/contact" ng-click="menuClicked()") Contact Us
                .col-md-3 
                    h2 SOCIAL
                    ul
                        li 
                            a(href="google.com") Facebook
                                .footericon
                                    i(class="fa fa-facebook" aria-hidden="true") 
                                
                        li 
                            a(href="google.com") Twitter
                                .footericon
                                    i(class="fa fa-twitter" aria-hidden="true")
                        li 
                            a(href="google.com") LinkedIn
                                .footericon
                                    i(class="fa fa-linkedin" aria-hidden="true")
                       
                .col-md-3 
                    h2 SEARCH                  
                    form.form-inline
                        .form-group
                            label.sr-only(for='exampleInputAmount') Amount (in dollars)
                            .input-group                              
                                input#exampleInputAmount.form-control(type='text', placeholder='Search' ng-model='search')
                                .input-group-addon(ng-click="doSearch()")
                                    i(class="fa fa-search" aria-hidden="true")
                        
                .col-md-3 
                    h2 &nbsp;
                    ul
                        li 
                            a(href="google.com") Privacy Policy
                        li 
                            a(href="google.com") Legal Notice
                        li 
                            a(href="google.com") Career Opportunities
            .row.copyright © 2016 Nilogen Oncosystems, LLC - All Rights Reserved.          
                    
                                 
    script(src='https://use.typekit.net/ikz5qnl.js')
    script(src='/libs/wow.min.js' type='text/javascript')
    script.
        try{Typekit.load({ async: true });}catch(e){}
    script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-77875803-1', 'auto');
            ga('send', 'pageview');


   