extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.newsimg
    .container
        .row
            .col-md-10.fullpage
                
                    h1 NEWS  
                    <br/>
                    article
                        .subheader Nilogen’s Chief Scientific Officer, Soner Altiok, MD, Ph.D., will present at the Rational Combinations 360° Meeting, held on June 23-24, 2016, in New York City, NY, USA. <br/>(
                            a(href='http://theconferenceforum.org/conferences/rational-combinations-360/speakers' target='_Blank') http://theconferenceforum.org/conferences/rational-combinations-360/speakers/
                            | )
                        
                    
                    article
                        .subheader Nilogen’s Chief Medical Officer, Scott Antonia, MD, Ph.D., presented on June 4 2016 during the Clinical Science Symposium “The View Beyond Single-Agent Checkpoint Blockade” at the American Society of Clinical Oncology (ASCO) 2016 Annual Meeting in Chicago, Illinois <br/>(
                            a(href='http://am.asco.org/nivolumab-without-ipilimumab-active-previously-treated-sclc' target='_Blank') http://am.asco.org/nivolumab-without-ipilimumab-active-previously-treated-sclc
                            | )
                    article
                        .subheader Nilogen presented at the International Association for the Study of Lung Cancer (IASLC) 16th World Conference on Lung Cancer, held on September 6-9, 2015 in Denver, CO, USA  <br/>(
                            a(href='/content/IASLC2015.pdf' target='_Blank') View Presentation
                            | )
                    article
                        .subheader Nilogen presented at the American Society of Clinical Oncology (ASCO) 2015 Annual Meeting, held May 29 – June 2, 2015 in Chicago, IL, USA   <br/>(
                            a(href='/content/ASCO2015.pdf' target='_Blank') View Presentation
                            | )
                    article
                        .subheader Nilogen presented at the American Association for Cancer Research (AACR) 2015 Annual Meeting, held April 18-22, 2015, in Philadelphia, PA, USA   <br/>(
                            a(href='/content/AACR2015.pdf' target='_Blank') View Presentation
                            | )

