extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.newsimg
    .container
        .row
            .col-md-10.fullpage
                
                    h1 NEWS  
                    <br/>
                    article
                        .subheader Scott Joseph Antonia, MD, PhD, speaks at the ASCO Collective Wisdom Annual Meeting 
                        .date.lightblue 6/6/2016
                        .subheadertext  Nilogen’s Chief Medical Officer, Scott Joseph Antonia, MD, PhD, served as a presenter at the ASCO Collective Wisdom Annual Meeting from June 3-7, 2016, in Chicago, Illinois. The yearly event brings together 30,000 oncology professionals from around the world. Educational sessions feature world-renowned faculty discussing state-of-the-art treatment modalities, new therapies, and ongoing controversies in the field. Science sessions present the latest ground-breaking research in oral and poster format. Dr. Antonia’s presentations included Checkmate 032: Nivolumab Alone or in Combination with Ipilimumab for the Treatment of Recurrent Small Cell Lung Cancer and Safety and clinical activity of durvalumab (MEDI4736), an anti-PD-L1 antibody, in treatment-naïve patients with advanced non‒small-cell lung cancer. To learn more, visit http://am.asco.org.
                    
                    article
                        .subheader ASCO2015 Poster
                        .date.lightblue 6/6/2016
                        .imgposter
                            a(href='/content/ASCO2015.pdf' target='_Blank')
                                img(src="/content/ASCO2015.png" class='width400')
                                .text Download \ View
                    article
                        .subheader AACR2015 Poster
                        .date.lightblue 6/6/2016
                        .imgposter
                            a(href='/content/AACR2015.pdf' target='_Blank')
                                img(src="/content/AACR2015.png" class='width400') 
                                .text Download \ View
                    article
                        .subheader  IASLC2015 Presentation
                        .date.lightblue 6/6/2016
                        .imgposter
                            a(href='/content/IASLC2015.pdf' target='_Blank')
                                img(src="/content/IASLC2015.png" class='width400')
                                .text Download \ View