extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.aboutimg
    .container
        .row
            .col-md-10.fullpage
                h1 NEWS      