extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.servicesimg
    .container
        .row
            .col-md-10.fullpage
                h1 SERVICES     
                <br/>      
                .subheader Drug Development 
                
                .text Our drug development efforts include drug-testing programs and contract research services for pharmaceutical and biotechnology companies where we provide customized, innovative solutions to facilitate biomarker-driven clinical trials with higher success probability, thereby reducing the costs of clinical trials and occurrence of unsuccessful trials.
                .techwrap
                    .subheader Drug Testing Ex Vivo
                    <br />
                    .dash.lightblue /
                    .smallcheck Propagation of matching tumor cells, tumor-infiltrating lymphocytes (TILs) and cancer-associated fibroblasts (CAFs).
                    <br />
                    .dash.lightblue /
                    .smallcheck Ex vivo testing of immunotherapeutics, chemotherapeutics, and targeted drugs using matching autologous tumor cell lines, TILs, and CAFs. 
                    <br />                   
                    .dash.lightblue /
                    .smallcheck Stratification of tumor models according to immunomodulatory, pharmacodynamics, and cytotoxic response to drugs for rapid and cost-effective biomarker discovery and validation.
                    <br/>
                    .subheader Drug Testing In Vivo
                    <br />
                    .dash.lightblue /
                    .smallcheck Patient-derived mouse PDX models with humanized cancer immune system through adoptive transfer of autologous human tumor infiltrating lymphocytes (TILs). 
                    <br />
                    .dash.lightblue /
                    .smallcheck Correlative molecular, histopathologic, serologic, and pharmacodynamic studies for biomarker discovery and validation.
                    <br />
                    .dash.lightblue /
                    .smallcheck In vivo molecular imaging for the precise assessment of tumor response and determination of biodistribution, as well as tumor uptake of drugs and nanoparticle-based therapies.
                    <br/>
                    .subheader Drug Testing 3D In Vitro
                    <br />
                    .dash.lightblue /
                    .smallcheck Using fresh tumor tissue, Nilogen processes it for isolation and propagation of the different cellular components of the 3D tumor microenvironment.  
                    <br />
                    .dash.lightblue /
                    .smallcheck Separated cell types include, but are not limited to, tumor cells, cancer-associated fibroblasts, tumor infiltrating lymphocytes and dendritic cells. 
                    <br />
                    .dash.lightblue /
                    .smallcheck Understanding the interaction of these cellular components is essential to learning more about how drugs effect the entire microenvironment. This system allows Nilogen to mix and match all components with different drug treatment combinations to determine the net balance effect of drugs on the entire microenvironment. 
                    <br/>
           //     .subheader Personalized Cancer Therapy
                .text Our immunotherapy response profiling services utilize patient-derived 3D ex vivo, in vitro, and in vivo platforms that closely recapitulate the complexity of human cancers.
                .techwrap
                    .subheader Drug Testing Ex Vivo
                    <br />
                    .dash.lightblue /
                    .smallcheck Rapid identification of the most effective immunotherapeutics, chemotherapeutics, and targeted drugs and drug combinations in patients’ intact tumor tissue by utilizing our proprietary 3D ex vivo platform.
                    <br />
                    .subheader Drug Testing of Individualized Avatar PDX Models In Vivo
                    <br />
                    .dash.lightblue /
                    .smallcheck In vivo PDX testing of the most effective therapeutics identified through our 3D ex vivo platform.                
                    <br />
                    .dash.lightblue /
                    .smallcheck Molecular imaging for early and precise assessment of tumor response to therapy.                    <br/>
                   