extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.teamimg
    .container
        .row
            .col-md-10.fullpage
                h1 MEET THE TEAM
              
                
                .row
                    .col-md-2.topimgmargin
                         img(src='/images/sigrid-comp.png' class='maxwidth')                 
                    .col-xs-12.col-md-8                       
                        h3.lightblue Sigrid M. Volko, Ph.D., CLP | President & CEO               
                        .bio.content Holds a Ph.D. in Biology from the University of Basel in Switzerland and worked as a Research Fellow at the Harvard Medical School in Boston.  Dr. Volko is an experienced business development professional and a Certified Licensing Professional with more than 14 years’ experience in technology transfer at Massachusetts General Hospital in Boston and the Johns Hopkins University in Baltimore.                     
                .row.topmargin
                    .col-md-2.topimgmargin                       
                         img(src='/images/soner-comp.png' class='maxwidth')
                     .col-xs-12.col-md-8              
                            h3.lightblue Soner Altiok, M.D., Ph.D | Founder and Chief Scientific Officer
                            .bio Currently a Professor of Pathology and Oncological Sciences at the Moffitt Cancer Center and the University of South Florida in Tampa.  Dr. Altiok holds an M.D. degree from the Medical School of Istanbul in Turkey and a Ph.D. degree in Molecular Cell Biology from  the University of Basel in Switzerland. He completed his postdoctoral training in Boston, Massachusetts, at the Dana Farber Cancer Institute and the Beth Israel Deaconess Medical Center and pursued his clinical training in Pathology and Cytopathology at Massachusetts General Hospital, Harvard Medical School, in Boston. After his training Dr. Altiok became an Assistant Professor at the Johns Hopkins School of Medicine to continue his clinical and translational research efforts and joined the Moffitt Cancer Center in 2007. As a physician scientist he has expertise in diagnostic pathology, tissue procurement and processing as well as designing biomarker-driven clinical trials.
                h3.lightblue Scott Antonia, M.D., Ph.D. | Chief Medical Officer
                .bio Currently the department chair and program leader of Thoracic Oncology and program leader of the Immunology Program at the Moffitt Cancer Center.  He is a Professor of Oncology at the University of South Florida College of Medicine. Dr. Antonia received both his         | medical degree and a doctorate in immunology from the University of Connecticut Health Center. He completed his internal medicine residency, medical oncology fellowship and post-doctoral training at Yale University School of Medicine. Dr. Antonia also serves as       | Medical Director of the Tumor Vaccine Production Facility at the Moffitt Cancer Center.  He was named the Moffitt Physician of the Year in 2005 and Mentor of the Year in 2008.
        
                h3.lightblue Dmitry Gabrilovich, MD, Ph.D. | Scientific Advisor
                .bio  Currently a Professor of Cancer Research and Program Leader in Translational Tumor Immunology at the Wistar Institute in Philadelphia. Dr. Gabrilovich is a world-renowned expert and pioneer in tumor immunology. Dr. Gabrilovich was recently named as one of the           | "cutting-edge" scientists who have the most influence on their fields.
        
