extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.techimg
    .container(ng-controller="TechController")
        .row
            .col-md-10.fullpage
                h1 TECHNOLOGY & SERVICES
                <br/>          
                .text Our patient-derived preclinical drug testing platforms provide comprehensive analyses of fresh tumor tissue with its intact microenvironment and aim to identify rational drug combinations. Nilogen’s integrated oncology solutions facilitate the discovery of companion diagnostics that can be applied in clinical studies for patient selection and enrichment of clinical trials. 
                
                .techwrap
                    
                    .subheader 3D <i>ex vivo</i> drug screening systems, 3D-EX  
                    .subheadertext  Nilogen’s proprietary, patient-derived 3D-EX platform rapidly and accurately analyzes the tumor response to oncology and immuno-oncology drugs. Through the correlation of the <i>ex vivo</i> tumor drug response with the characteristics of the tumor microenvironment, Nilogen aims to identify and validate biomarkers of drug sensitivity and resistance. 
                    img(src="/images/3D-EX_No_Text.jpg" class='techimages' ng-click="imgClicked('/images/3D_Ex_Vivo.jpg')")
                    <br/>
                    
                    .subheader Cell-Match
                    .subheadertext The Cell-Match platform assesses the effect of drugs and drug combinations on the individual components of the tumor microenvironment that were isolated and propagated from each patient’s tumor.
                    img(src="/images/Cell-Match_No_Text.jpg" class='techimages' ng-click="imgClicked('/images/In-Vitro.jpg')")
                    <br/>
                    
                    .subheader Immuno-PDX
                    .subheadertext In its Immuno-PDX models Nilogen utilizes matching fresh patient tumor tissue and propagated lymphocytes to recapitulate the tumor immune-microenvironment. These models are uniquely suited for <i>in vivo</i> drug testing as well as for the development and application of genetically engineered T-cells in immuno-oncology.
                    img(src="/images/Immuno-PDX_No_Text.jpg" class='techimages' ng-click="imgClicked('/images/In-Vivo.jpg')")
                
                .text Please see our presentations listed in the 
                    a(href='/news') News 
                    |section.
                <br/>

                //.text Using these platforms, we offer pharmaceutical and biotechnology companies innovative cancer immunotherapy and anti-cancer drug testing programs and biomarker discovery services designed to:
                //<br/>
                //.check.lightblue / Optimize cancer treatment success
                //.check.lightblue / Reduce the cost of clinical trials
                //.check.lightblue / Lower the risk of trial failure 
     #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document' style='width: 95%;')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    //h4#myModalLabel.modal-title Confirm
                .modal-body
                    img(id='maxtechimg' class='maxwidth')
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close                 
            
            
