extends layout

block content
    .container-fluid(style="padding-left:0px; padding-right: 0px;")
        .imgdiv.techimg
    .container
        .row
            .col-md-10.fullpage
                h1 TECHNOLOGY 
                <br/>          
                .text Our patient-derived preclinical and clinical drug testing platforms provide comprehensive analysis of fresh tumor microenvironments and aim to identify the most effective drug combinations, as well as discovery of accompanying predictive biomarkers:
                
                .techwrap
                    .subheader 1. Proprietary 3D ex vivo drug screening systems 
                    .subheadertext  Our highly-sensitive, cell-based 3D ex vivo platform utilizes fresh tumor tissue from patients to rapidly and accurately test tumor cell sensitivity to immunotherapeutic drugs in its intact microenvironment. This platform is more accurate than anything else on the market, as Nilogen is the only company not creating an artificial environment for drug development testing, but rather assessing the immunomodulatory efficacy of drugs and aid in developing rational combination treatments in cancer.
                    <br/>
                    .subheader 2.  3D in vitro
                    .subheadertext Using fresh tumor tissue obtained from cancer patients, Nilogen processes it for isolation and propagation of the different cellular components of the 3D tumor microenvironment.  These different cell types include, but are not limited to, tumor cells, cancer-associated fibroblasts, tumor infiltrating lymphocytes and dendritic cells.  Understanding the interaction of these cellular components is essential to learning more about how drugs effect the entire microenvironment and not just tumor cells.  This system allows Nilogen to mix and match all components with different drug treatment combinations to determine the net balance effect of drugs on the entire microenvironment. 
                    <br/>
                    .subheader 3.  In vivo
                    .subheadertext Using fresh tumor tissue obtained from cancer patients, Nilogen processes it into 3D microspheres for implantation into immunodeficient mice.  In parallel, tumor infiltrating lymphocytes (TILs) are isolated from the fresh tumor and propagated.  Once the tumor has sufficiently propagated in mice the TILs can be introduced into the mouse in the context of drug treatments to determine the efficacy of drugs designed to increase the immunotherapeutic response.  Additionally, this system provides valuable feedback by identifying potential synergistic drug combinations and predictive biomarkers. 
                    
                
                .text Using these platforms, we offer pharmaceutical and biotechnology companies innovative cancer immunotherapy and anti-cancer drug testing programs and biomarker discovery services designed to:
                <br/>
                .check.lightblue / Optimize cancer treatment success
                .check.lightblue / Reduce the cost of clinical trials
                .check.lightblue / Lower the risk of trial failure 
                
            
            
