extends layout

block content
    .container
        .row
            .col-md-10
                h1 TECHNOLOGY           
                .text Our patient-derived preclinical and clinical drug testing platforms provide comprehensive analysis of fresh tumor microenvironments and aim to identify the most effective drug combinations, as well as discovery of accompanying predictive biomarkers:
                
                .techwrap
                    .subheader 1. 3-D ex vivo drug screening systems 
                    .subheadertext  Our highly-sensitive, cell-based 3-D ex vivo platform utilizes patients’ own tumor biopsy samples to rapidly and accurately test tumor cell sensitivity to immunotherapeutic drugs prior to undergoing treatment.
                    <br/>
                    .subheader 2.  OrthoPD platforms
                    .subheadertext We use orthotopically implanted patient-derived xenograft (PDX) models in which drug responses are assessed through state-of-the-art in vivo imaging modalities.
                
                .text Using these platforms, we offer pharmaceutical and biotechnology companies innovative cancer immunotherapy and anti-cancer drug testing programs and biomarker discovery services designed to:
                <br/>
                .check / Optimize cancer treatment success
                .check / Reduce the cost of clinical trials
                .check / Lower the risk of trial failure 
                
            
            
