body {

 
   font-family: "proxima-nova",sans-serif;
   font-size: 16px;
}


@media (min-width: 1200px){
.container{
    width: 1300px;
      }
}


h1{
     font-family: "futura-pt",sans-serif;
     font-size: 50px;
      color: #005088;
}
h2{
     font-family: "futura-pt",sans-serif;
     font-size: 38px;
    
}
.subheader{
   color: #005088;
   font-size: 26px;
}
.techwrap{
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.marginzero{
    margin: 0px;
}
 a:hover { text-decoration: none; }

.darkblue{
    color: #002751;
}
.midblue{
    color: #005088;
}
.lightblue{
    color: #00B0EF;
}
.logoimg{
    max-width: 300px;
    display:block;
  /*  margin:auto;*/
}
.topmargin{
    margin-top: 30px;
}
.topimgmargin{
    margin-top: 20px;
}
.bio{
        margin-bottom: 35px;
}
.check{
    font-size: 26px;
}
.line{
    
    max-width: 150px;
    margin-top: -75px;
}
.form-horizontal .form-group {
    margin-right: 0px; 
    margin-left: 0px; 
}
.control-label{
    float: left;
    font-weight: normal;
}
.line2{
    
    max-width: 150px;
    margin-top: -55px;
    z-index: -5000;
    position: absolute;
    left: 70%;
}
.line3{
    
     max-width: 150px;
    /* margin-top: -55px; */
    z-index: -5000;
    position: absolute;
    margin-left: -75px;
   
}
.menuline{
    max-width: 150px;
    float: right;
    position: absolute;
    left: 85%;
    margin-top: 40px;
    z-index: -5000;
}
.leftline{
          max-width: 150px;
    margin-left: -150px;
    
}
.headerimages{
    text-align: center;
    margin-bottom: -20px;
}
.ulmenu{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    bottom: 2px;
    margin-left: 30px;
}

.ulmenu li {
    float: left;
    padding-right: 20px;
    
}
.ulmenu li a{
   font-size: 20px;
   color: #002751;
   font-family: "futura-pt",sans-serif;
  
  
}
.ulmenu li a:hover{
   color: #00B0EF;
   cursor: pointer;

}
.divmenuwrap{
    position: relative;
   
    height: 95px;
   
    
}
.menurow{
    padding-bottom: 30px;
}
.footer{
    
    background-color: #002751;
    color: White;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 40px;
}
.footer ul{
   list-style: none;
   margin:0;
  padding: 0;
  margin-top: 20px;
   
}
.footer input{
 /* width: 100%;
  color: black;
   margin-top: 20px;*/
}
.footer ul li a{
    color: white;
    font-size: 18px;
    text-decoration: underline;
    font-weight: light;
    
}
.footer .form-group{
        width: 100%;
}
.footer .input-group{
    width:100%;
}
.footer ul li a:hover{
    color: #00B0EF;   
}
.fullpage{
    width: 95%;
}
 .footericon{
     float:left;
     width: 30px;
 }
 .footerlinktext{
     float: right;                  
 }
 .copyright{
    border-top: 1px solid white;
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
 }
 #mobilebutton{
     font-size: 32px;
 }
 .dashwrap{
     width: 100%;
    
    margin: auto;
     
 }
 .dash{
    width: 15px;
    
    float: left; 
 }
 .smallcheck{
    margin-left: 15px;
 
 }
 .maxwidth{
     max-width: 100%;
 }
.homeimg{
    background: url(../images/glass-min.jpg) no-repeat center center;
      background-position: 0px -250px;
}
.techimg{
    background: url(../images/TechnologyHeaderComp.jpg) no-repeat center center;
    background-position: 0px 0px;
}
.servicesimg{
   /* background: url(../images/SevicesHeaderComp.jpg) no-repeat center center;*/
   /* background-position: 0px -250px;*/
   background: url(../images/SevicesHeader2-compressed.jpg) no-repeat center center;
}
.aboutimg{
    /*background: url(../images/AboutHeaderComp.jpg) no-repeat center center;*/
    background: url(../images/AboutHeader2-compressed.jpg) no-repeat center center;;
    
    background-position: 0px -100px;
}
.imgdiv{
    height: 450px;
     
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn{
    color: white;
    background-color: #00B0EF;
    font-size: 24px;
    border-radius: 0px;
    font-family: "futura-pt",sans-serif;
    margin-right: 10px;
    margin-top: 3px;
}
.btn:hover{
    color: white;
    background-color: #005088;    
}
.boxoutercontent{
    padding-top: 30px;
    padding-bottom: 30px;
}

.quotebox{
    font-family: "futura-pt",sans-serif;
    color: #00B0EF;
    border: 2px solid #00B0EF;
    padding: 30px;
    margin-top: 100px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    
}

.boxcontent{
    font-size: 22px;
}
.mobileMenu{
    text-align: right;
    display: none;
    float: right;
    padding-top: 10px;
  
 }
 .mobileMenu a{
     font-size: 38px;
     color: #002751;
 }
 .mobileList{
      list-style: none;
      margin:0;
      padding: 0px;;
      text-align: left; 
     
      background-color: #002751;
 }
  .mobileList li{
       border-bottom: 1px solid White;
       
     
  }
 .mobileDropMenu{
     width: 100%;
     position: absolute;
     z-index: 2000;
     /*border-bottom: 1px solid gray;*/
    display: none;
     margin-top: 10px;
 }
 .menumobilerow{
    margin: 0;
    padding: 0px;
    background-color: #002751;;
    
 }
 .mobileList a{
     font-size: 23px;
     color: White;
     display:inline-block;
     width: 100%;
     padding: 10px;
 }
    @media only screen and (max-width : 1200px) {
      /*body{background-color: purple;}*/
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        /*body{background-color: red;}*/
        .imgdiv{
            height: 200px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        /*body{background-color: green;}*/
        .ulmenu li a {
            font-size: 18px;
            
        }
        .imgdiv {
            height: 200px;
        }
        .divmenuwrap {
            height: 50px;
        }
        .menuline{
            display: none;
        }
     }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        /*body{background-color: yellow;}*/
          h1{
            font-size: 42px;
        }
          .ulmenu{position: relative;}
          .imgdiv{background-position: 0px 0px;}
          .menuline{display: none;}
       .line2{display: none;}
       .line3{display: none;}
       .leftline{display: none;}
       .divmenuwrap{
           display: none;
           
            position: absolute;
       }
       .divmenuwrap{
           height: 28px;
       }
       .logoimg{
           width: 200px;
           
       }
       .imgdiv{
            display: none;
       }
       .boxoutercontent{
           padding-top: 0px;
       }
       .mobileMenu{
           
             display: block;
        }
         .divLogo{
            float: left;
        }
        .menurow{
            padding-bottom: 0px;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
       /*body{background-color: blue;}*/
       
       .ulmenu{position: relative;}
       .imgdiv{background-position: 0px 0px;}
       .menuline{display: none;}
       .line2{display: none;}
       .line3{display: none;}
       .leftline{display: none;}
       .divmenuwrap{
           display: none;
         
       }
       .imgdiv{
            display: none;
       }
       .boxoutercontent{
           padding-top: 0px;
       }
       .divmenuwrap{
           height: 28px;
       }
       .logoimg{
           width: 200px;
          
       }
       .mobileMenu{
           
             display: block;
        }
        .divLogo{
            float: left;
        }
        .menurow{
            padding-bottom: 0px;
        }
    }
